/venv/
**/**/__pycache__/
**/**/.coverage
/.idea/.gitignore
/.idea/cne-sfia2-project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
*.pem
resource/modules/infrastructure/.terraform
resource/modules/infrastructure/AWS_EU_Key.pem
resource/modules/infrastructure/.terraform/modules
resource/modules/infrastructure/.terraform/plugins

