apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: dkhan20/frontend:latest
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: frontend
              port: 5000
      volumes:
        - name: frontend-config
          configMap:
            name: frontend-config