apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
       listen 80;
       server_name  frontend;
       location / {
           root   /usr/share/nginx/html;
           index  index.html index.htm;
       }
       location /api/ {
           proxy_pass  http://frontend:5000;
       }
       error_page   500 502 503 504  /50x.html;
       location = /50x.html {
           root   /usr/share/nginx/html;
       }
    }