apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
      listen 80;
      root  /usr/share/nginx/html;
      index index.html index.htm;
      location / {
          proxy_pass  http://frontend:5000/;
      }
    }